@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/*c'est la base*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0.7rem;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  position: relative;
}

main {
  padding: 0;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 2rem;
  transition: transform 200ms;
}
.explorer button :hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto ol {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: purple;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  left: -1rem;
  position: absolute;
  bottom: 1.5rem;
  transform: translatey(50%);
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i {
  color: blue;
}

#homepage .menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
#homepage .menus h2 {
  margin-bottom: 2rem;
  padding: 2rem;
  margin: 1rem;
}
#homepage .menus_card {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 800px) {
  #homepage .menus_card {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus_card .new {
  position: relative;
}
#homepage .menus_card .new::before {
  content: " Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: aqua;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#homepage .card {
  border: 1px solid lightgrey;
  border-radius: 20px;
}
#homepage .card_image1 {
  background-image: url("./images/menu-1.jpg.jpg");
  height: 12rem;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
#homepage .card_image2 {
  background-image: url("./images/menu-2.jpg.jpg");
  height: 12rem;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
#homepage .card_image3 {
  background-image: url("./images/menu-3.jpg.jpg");
  height: 12rem;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
#homepage .card_image4 {
  background-image: url("./images/menu-4.jpg.jpg");
  height: 12rem;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
#homepage .card_description {
  position: relative;
  background-color: white;
}
#homepage .card_description h3,
#homepage .card_description p {
  margin: 0.5rem;
}
#homepage .card_description p {
  padding-top: 0.5rem;
}
#homepage .card_description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 90%;
  transform: translateY(-50%);
}
#homepage .card_description .fa-heart {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
#homepage .card_description:hover .fa-heart {
  opacity: 1;
  transform: scale(1.2);
}

.foot {
  display: flex;
  background-color: grey;
  padding: 2rem;
  color: white;
  margin-top: 3rem;
  flex-direction: column;
}
.foot h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500px;
  padding: 1rem 0;
}
.foot p {
  padding: 0.2rem;
}

body {
  background-color: lightgrey;
}

#page-resto .banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
}
#page-resto .resto__title {
  margin-top: -2rem;
}
#page-resto .resto__title h2 {
  font-family: "shrikhand", "sans-serif";
  padding: 2rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: lightgray;
}
#page-resto .resto-main {
  padding: 0.1rem;
}
#page-resto .menus-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  #page-resto .menus-grid {
    grid-template-columns: 1fr;
  }
}
#page-resto .menus-grid .menus__category {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  align-items: center;
  filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0));
}
#page-resto .menus-grid .menus__category .menu-item {
  display: flex;
  white-space: nowrap;
}
#page-resto .menus-grid .menus__category .menu-item__price {
  padding: 2rem;
  margin-left: auto;
  font-weight: 900;
  align-items: flex-end;
}
#page-resto .menus-grid .menus__category > * {
  padding: -2rem;
}
#page-resto .menus-grid .menus__category .menu-item__check {
  display: grid;
  place-items: center;
  margin-right: -2rem;
  background-color: aqua;
  transition: all 1s;
}
#page-resto .menus-grid .menus__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
}
#page-resto .menus-grid .menus__category:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menus-grid .menus__category:hover i {
  animation: quarter-spin 1s ease-in-out;
}

@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*# sourceMappingURL=style.css.map */
