@import "../utils/variables.scss";
@import "../utils/animations.scss";

body {
    background-color: lightgrey;
}
#page-resto {
.banner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center bottom;
}

}

section.order {
    height: 10vh;
    display: grid;
    place-items: center;
}

.order button {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    border-radius: 2rem;
    transition: transform 200ms;
    margin-top: 1rem;
    cursor: pointer;

}

.order button :hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.arrow i {
    display: grid;
    justify-content: flex-start;

    i {
        margin: 2rem;
    }

}
