@mixin gradient {
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

@mixin base-shadow {
    box-shadow: 2px 1px 16px -3px #00000000; 
}
@mixin zoom {
    transform: scale(1.02);
}